{% extends "reception_panel/reception_base.html" %}
{% load crispy_forms_tags %}

{% block title %}ویرایش خدمت: {{ service.name }}{% endblock %}

{% block page_title %}ویرایش خدمت: {{ service.name }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    
                    <div class="d-grid mt-4 d-flex gap-2">
                        <button type="submit" class="btn btn-primary btn-lg flex-grow-1">ذخیره تغییرات</button>
                        <a href="{% url 'reception_panel:service_list' %}" class="btn btn-outline-secondary btn-lg">بازگشت</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}